.contact-container {
  margin: 0;
  padding: 0px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 25px;
  color: rgb(0, 0, 0);
  border-bottom: 3px solid #e94e77;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.contact-info {
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 30px;
}

.contact-info h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-item {
  flex: 1;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.contact-item i {
  font-size: 2rem;
  color: #e94e77;
  margin-right: 15px;
}

.contact-text h3 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

.contact-text p {
  margin: 5px 0;
  color: #555;
}

.contact-form {
  margin-bottom: 40px;
  padding: 30px;
  width: 50%;
  margin-left: 25%;
}

.contact-form h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.submit-button {
  background-color: #e94e77;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
  background-color: #d43f60;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .contact-details {
    flex-direction: row;
  }
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px;
}

.team-members-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) rotate(90deg);
  transform-origin: right center;
  background-color: #e50914;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
}
