/* Styles for blood group highlights */
.highlight-blood-group {
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
}

.blood-group-A-positive {
  background-color: #ff6666;
}

.blood-group-A-negative {
  background-color: #ff9999;
}

.blood-group-B-positive {
  background-color: #66b3ff;
}

.blood-group-B-negative {
  background-color: #99ccff;
}

.blood-group-AB-positive {
  background-color: #ffcc66;
}

.blood-group-AB-negative {
  background-color: #ffdd99;
}

.blood-group-O-positive {
  background-color: #66ff66;
}

.blood-group-O-negative {
  background-color: #99ff99;
}
